NODE_ENV=development
PORT=3000
API_GLOBAL_PREFIX= api/v1
 

JWT_SECRET=dev-secret
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=dev-refresh-secret
JWT_REFRESH_EXPIRES_IN=30d
 
DATABASE_URL=postgresql://care:carepass@localhost:55432/caredb?schema=public

AWS_REGION=us-east-2
AWS_ACCESS_KEY_ID=ID_AWS
AWS_SECRET_ACCESS_KEY=SECRETE-AWS
AWS_S3_BUCKET_NAME=devsdomainbucket